
.env
.env*.local
.git
.gitignore
.next
.vscode
node_modules
README.md
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.tsbuildinfo
# Any other files/directories you don't want in your Docker image
public/mockServiceWorker.js
